
@{
    ViewBag.Title = "FAQS";
}

<h2>FAQS</h2>
<div class="title" style="height: 30vw; width: 30vw; top: 15vw; position: absolute; left: 3vw; ">

    <p>
        Want to become an Admin? Forgot your password? Contact the game creator via email at, <a>xelous99@gmail.com</a>.
        The game is painted to be a text based adventure.
        <br>
        Do your best to survive and gain as much gold as possible.
        <br>
        WARNING! All character deaths result in permanent deletion of the character info. Once dead. No respawns
    </p>
</div>
<br>
<div class="title" style="height: 30vw; width: 30vw; top: 15vw; position: absolute; left: 30vw; ">

    <p>
        Q:How do I revive dead characters?
        <br>
        A: At the current time character deaths are permanent. But new revival spells and items are in the works for future updates 
        <br>
        Q: Can I make custom monsters?
        <br>
        A: Currently monster creation is left to admins/developers for the game. We don't want a flood of unwanted monsters in the game. 
        Future update will have personal monsters only the creator can encounter.
    </p>
</div>
<br>
<<div class="nav-side">
    <div class="dropdown">
        <button onclick="dropDown()" class="dropBtn">More</button>
        <div id="myDropdown" class="dropdown-item">
            <a>@Html.ActionLink("Register", "Register", "Home")</a>
            <a>@Html.ActionLink("Home", "Index", "Home")</a>
            <a href="#">@Html.ActionLink("Login", "Login", "Home")</a>
        </div>
    </div>


</div>