
/*Dropdown*/

.dropBtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    background-color: darkolivegreen;
    border: none;
    cursor: pointer;
    width: 400%;
    border: 2px solid white;
    margin-right: 0;
    position: relative;
    left: 100%;
    border-radius: 10px;
    display: inline-block;
}

    .dropBtn:hover, dropBtn:focus {
        background-color: lightgreen;
        border-radius: 10px 10px 0px 0px;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: darkolivegreen;
    left: 100%;
    min-width: 160px;
    width: 400%;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-item a, button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-item a:hover {
            background-color: lightgreen;
        }

.show {
    display: block;
}


/*Other*/

.nav-side {
    width: 33%;
    margin: 0 auto;
    margin-top: 2vw;
    padding: 3px;
    position: absolute;
    right: 5vw;
    display: inline-block;
}

.title {
    display: block;
    width: 50%;
    float: left;
    margin: 0;
    margin-left: 0;
    margin-right: 1em;
    padding: 0;
    height: 100%;
    background-image: url("css/lib/Images/Capstone_TitleMessage.png");
    background-size: 135% 190%;
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 55%;
}

    .title:hover {
        transform: scale(1.1);
    }


/*buttons*/
.btn {
    background-color: #af4a0f;
    color: black;
    font-size: 16px;
    /*width: 40%;*/
    width: 30%;
    margin-bottom: 1em;
}

.input {

    /*position: relative;
    display: inline-block;
    width: 25vw;
    margin: 1vw;*/

    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.input-list {
    margin-top: 25%;
    margin-bottom: .5em;
}

.btn:hover {
    background-color: chocolate;
    background-image: linear-gradient(to bottom right, chocolate, saddlebrown);
}

.form-control {
    display: inline-block;
    background-color: lightgoldenrodyellow;
}

.icon-input {
    background-image: url("css/lib/Images/Capstone_Quil.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    height: 45px;
    width: 45px;
    margin: 0;
    position: absolute;
    display: inline-block;
    left: -3vw;
}




.text-danger {
    display: inline-block;
    background-color: lightgoldenrodyellow;
    border: 3px solid saddlebrown;
    margin: 2px;
    border-radius: 7px;
    font-size: 110%;
    color: black;
    padding: 1%;
}

.alert-warning {
    width: 33%;
    border-radius: 6px;
    border: 3px solid saddlebrown;
}



.hpStatusText {
    position: absolute;
    height: 10px;
    width: 30%;
    left: 34%;
    top: -35%;
    margin: 0%;
    color: white;
}

.staminaStatusText {
    position: absolute;
    height: 81%;
    width: 30%;
    left: 28%;
    top: -44%;
    margin: 5%;
    padding: 1px;
    color: white;
}

.magicaStatusText {
    position: absolute;
    height: 30%;
    width: 30%;
    left: 56%;
    top: -44%;
    margin: 5%;
    padding: 1px;
    color: white;
}



/*--------------------Standard Labels----------------------------*/
p {
    position: center;
    margin: 5% auto;
    padding: 1em;
    height: 80%;
    width: 60%;
}


h3 {
    width: auto;
    float: left;
    margin: 25px;
    padding: 1.5em;
    padding-top: 1em;
    margin-top: 2em;
    margin-left: 0;
    background-image: url("css/lib/Images/Capstone_Title.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

label {
    margin: 3px;
    width: 10vw;
    padding: 5px;
    text-align: center;
    background-color: chocolate;
    border-radius: 10px;
    display: block;
    border: 1px solid saddlebrown;
}

h2 {
    width: auto;
    position: absolute;
    margin-top: 1em;
    left: 40vw;
    display: block;
    float: left;
    padding: 1.5em;
    padding-top: 1em;
    font-size: 3vw;
    text-align: center;
    background-image: url("css/lib/Images/Capstone_Title.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url("css/lib/Images/Capstone_TitleBrick.png");
}

/*----------------Button----------------------*/
button {
    position: initial;
    margin: auto;
}

.btn-user {
    background-color: #af4a0f;
    display: inline;
    padding: .25em;
    margin: 10px;
    border: none;
    color: black;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid saddlebrown;
}

    .btn-user:hover {
        background-image: linear-gradient(to bottom right, chocolate, saddlebrown);
    }
.btn-change {
    display: inline;
    background-color: transparent;
    border: none;
    top: 1%;
    background-image: url("css/lib/Images/Capstone_Quil.png");
    background-repeat: no-repeat;
    background-size: 130%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.btn-remove {
    display: inline;
    background-color: transparent;
    border: none;
    top: 1%;
    background-image: url("css/lib/Images/Capstone_Trashcan.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.button-remove {
    background-image: url("css/lib/Images/Capstone_Quil.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

/*-------------------------Misc---------------------------*/
.warning {
    width: 20vw;
    height: 8vw;
    position: absolute;
}
.warning p {
    border: 1px solid black;
    display: inline-block; 
    background-color: palegoldenrod;
    height: 7vw;
    margin: auto;
    top: 5vw;
    float: left;
}

.warning h3 {
    top: 0;
    top: -12vw;
    
}

.warning button {
    margin: 3px;
    float: left;
    display: inline-block;
    
}

.validation {
    background-color: palegoldenrod !important;
    border: 2px solid saddlebrown !important;
    padding: 2px;
    font-size: medium;
    color: darkred;
    margin: 2px;
    display: inline-block;
    border-radius: 6px;
}

.icon-warning {
    background-image: url("css/lib/Images/Capstone_Warning.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    height: 45px;
    width: 45px;
    margin: 0;
    position: absolute;
    display: inline-block;
    left: -3vw;
}


.info-box {
    border: 1px solid white;
    height: 300px;
    width: 350px;
    background-color: saddlebrown;
    display: block;
    position: absolute;
    bottom: 1vw;
    overflow-y: scroll;
    overflow-x: visible;
}

.shop-item {
    border: 1px solid black;
    width: 100%;
    height: 1vw;
    margin: 1px;
}

.shop-item h6 {
    font-size: x-large;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.item-stats {
    display: inline-block;
    height: 100%;
    width: 25%;
}

.info-box-alt {
    border: 1px solid blue;
    height: 300px;
    width: 350px;
    background-color: saddlebrown;
    display: block;
    position: absolute;
    bottom: 1vw;
    overflow-y: scroll;
    overflow-x: visible;
}

    .info-box-alt h6 {
        display: block;
        border: 1px solid white;
        font-size: x-large;
        text-align: center;
        height: 50px;
        color: black;
        background-color: green;
    }

    .info-box-alt label {
        border: 1px solid saddlebrown;
        background-color: chocolate;
        height: 30px;
        font-size: small;
        text-align: center;
        width: 35%;
        display: inline-block;
    }



    .info-box-alt p {
        width: 45%;
        display: inline-block;
        height: auto;
        padding: 2px;
        text-align: center;
        background-image: linear-gradient(to bottom right, palegoldenrod, green);
    }

.seperator {
    border: 1px solid black;
    width: 45%;
    display: inline-block;
    margin: 1px;
}

.class {
    width: 90%;
    display: inline-block;
}


.c-info {
    border: 2px solid saddlebrown;
    padding: 3px;
    margin: 3px;
    height: auto;
    display: block;
    background-image: linear-gradient(palegoldenrod, gray);
    border-radius: 7px;
    text-align: center;
    font-size: 15px;
}


.c-info:hover {
    background-color: gray;
}


/*Character list code*/

.list {
    border: 2px solid black;
    height: 300px;
    width: 410px;
    background-color: saddlebrown;
    margin-bottom: 0px;
    position: absolute;
    bottom: 10px;
    right: 10%;
    overflow-y: scroll;
    overflow-x: visible;
}

.list-item-character {
    margin: 2px;
}

    .list-item-character p {
        display: inline-block;
        padding: 1%;
        margin: 2%;
        width: auto;
        border-radius: 7px;
        background-color: palegoldenrod;
        background-image: linear-gradient(palegoldenrod, gray);
        display: inline-block;
    }


    .list-item-character div {
        position: inherit;
        width: 45%;
        margin-top: 2%;
        display: inline-block;
    }



.sub-num {
    display: inline-block;
    position: relative;
    left: -15px;
    bottom: -10px;
    border: 1px solid black;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: x-small;
    background-color: chocolate;
}

.info {
    display: inline;
    color: white;
    text-align: center;
    padding: 0;
    float: right;
    border: 1px solid white;
}



#User {
    position: absolute;
    right: 10%;
    bottom: 50%;
    border: 1px solid blue;
}

/*Game View*/
.text-UI {
    border: 1px solid black;
    position: absolute;
    display: inline-block;
    left: 0;
    height: 400px;
    width: 55%;
    background-color: palegoldenrod;
    overflow-y: scroll;
}

.info-UI {
    border: 1px solid white;
    position: absolute;
    right: 0;
    height: 100px;
    width: 45vw;
    background-color: brown;
    margin: 0;
}



.btn-block {
    border: 1px solid black;
    position: absolute; 
    display: inline-block;
    width: auto;
    left: 0;
    bottom: 15vw;
    
}

.list-bag {
    border: 2px solid black;
    position: absolute;
    right: 0;
    height: 150px;
    width: 45vw;
    margin: 0;
    top: 11vw;
    overflow-y: scroll;
    background-color: brown;
}

/*Health bar only*/
.Health[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 90%;
    margin: 1px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}

.Health[value]::-webkit-progress-bar {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

.Health[value]::-moz-progress-bar {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

.Health[value]::-webkit-progress-value {
    background-color: red;
}

/*Stamina bar only*/
#Stamina[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 45%;
    margin: 1px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}

#Stamina[value]::-webkit-progress-bar {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

#Stamina[value]::-moz-progress-bar {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

#Stamina[value]::-webkit-progress-value {
    background-color: green;
}

/*Magica bar only*/

#Magica[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 45%;
    margin: 1px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}

#Magica[value]::-webkit-progress-bar {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

#Magica[value]::-moz-progress-bar {
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

#Magica[value]::-webkit-progress-value {
    background-color: blue;
}


